.add-resort-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f4f4f4;
  margin: 0 auto;
  max-width: 80%;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  width: 100%;
}

button[type='submit'] {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button[type='submit']:hover {
  background-color: #0056b3;
}

input[type='text'],
input[type='number'],
#description {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
}

.error-message {
  color: red;
}

.success-message {
  color: green;
}