@media screen and (max-width: 767.9px) {
  .container-delete {
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 50px auto;
  }
}

@media screen and (min-width: 768px) {
  .container-delete {
    margin: 0 auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 100%;
    max-width: 80%;
    border: 1px solid #ccc;
  }

  .table {
    margin: 20px auto;
    width: 90%;
  }

  .sub_heading {
    margin-top: 50px;
  }
}
