.reservations-container {
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 80%;
  margin: 20px auto;
}

.reservations-title {
  font-family: Pacifico, sans-serif;
  font-size: 26px;
  margin-bottom: 20px;
  text-align: center;
  color: #862525;
  text-transform: uppercase;
}

.reservation-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.reservation-table td {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: left;
  color: #6375ce;
}

.reservation-table th {
  text-align: center;
  border: 1px solid #ddd;
  padding: 15px;
  color: #2b2659;
  background-color: #f2f2f2;
}

.destination-name {
  font-weight: bold;
}

.no-reservations-message {
  font-size: 16px;
  font-style: italic;
  text-align: center;
  margin-top: 20px;
  color: #555;
}

.loading {
  font-size: 20px;
  color: red;
  text-align: center;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.loading-spinner img {
  width: 100px;
  height: 100px;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}