@media screen and (min-width: 1080px) {
  #detail-container {
    width: 100%;
  }

  #card-container {
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
  }

  #detail-info img {
    height: 150px;
    object-fit: scale-down;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    width: 38%;
  }

  #img-container {
    flex-basis: 60%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .discover {
    display: flex;
    float: right;
    margin-right: 20px;
    font-size: 65%;
    font-weight: bold;
  }

  #detail-img {
    width: 90%;
    height: 350px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    transition: 1s ease;
  }

  #detail-img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 1s ease;
  }

  .container-details {
    display: flex;
    flex-direction: column;
  }

  .details {
    list-style: none;
    gap: 2.5rem;
    font-size: 0.9rem;
    font-weight: 500;
    border-radius: 2px;
  }

  #detail-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 50px;
    width: 30%;
    margin-top: 5rem;
  }

  .detail {
    font-size: 1.2rem;
    font-weight: 800;
    padding: 1rem;
  }

  .info-name {
    padding: 20px;
    font-size: 16px;
  }

  #description {
    font-size: 0.9rem;
    margin-inline: 0.5rem;
    font-weight: 700;
    padding: 1rem;
    letter-spacing: 1px;
  }

  #reserver-btn {
    padding: 0.9rem 2.5rem;
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
    background-color: #97bf11;
    outline: 0;
    border: 0;
    border-radius: 20px;
    box-shadow: 0 9px #999;
  }

  #reserver-btn:active {
    background-color: #97bf11;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  #reserver-btn:hover {
    background-color: #303030;
  }

  .color-image {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .details li:nth-child(even) {
    background-color: #cacaca;
  }
  #reserve-icon {
    font-size: 0.9rem;
    margin-inline: 1rem;
    font-weight: 900;
  }

  .resort-address {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  #resort-name {
    font-size: 100%;
    text-transform: uppercase;
    font-weight: bold;
  }

  #resort-description {
    font-size: 80%;
  }

  .back {
    padding: 0.5rem 1rem;
    background-color: #97bf11;
    border: 0;
    outline: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #fff;
  }

  .back:hover {
    padding-right: 1.5rem;
  }
}
/* @media screen and (max-width: 768px) {
  #card-container {
    flex-direction: column;
    display: flex;
  }

  #detail-info {
    width: 100%;
    margin-right: 0;
  }

  #detail-img {
    width: 70%;
  }

  .details {
    gap: 1.5rem;

    #img-container {
      flex-basis: 60%;
      height: 80vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  } */

@media screen and (max-width: 1079px) {
  #detail-container {
    width: 100%;
  }
  #card-container {
    flex-direction: column;
    margin-inline: 20px;
  }

  #detail-info {
    width: 100%;
  }

  #detail-img {
    width: 100%;
    max-width: fit-content;
  }

  #img-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .details {
    list-style: none;
    gap: 0.5rem;
    font-size: 0.9rem;
    font-weight: 500;
    border-radius: 2px;
    width: 100%;
    max-width: fit-content;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
  }

  .details li:nth-child(even) {
    background-color: #cacaca;
  }

  .resort-address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .color-image {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  #detail-info img {
    height: 150px;
    object-fit: scale-down;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    width: 38%;
  }

  #reserver-btn {
    padding: 0.9rem 2.5rem;
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
    background-color: #97bf11;
    outline: 0;
    border: 0;
    border-radius: 20px;
    box-shadow: 0 9px #999;
    margin: 15px;
  }

  #reserver-btn:active {
    background-color: #97bf11;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  #reserver-btn:hover {
    background-color: #303030;
  }

  .back {
    padding: 0.5rem 1rem;
    background-color: #97bf11;
    border: 0;
    outline: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #fff;
  }

  .back:hover {
    padding-right: 1.5rem;
  }

  .discover {
    font-size: 12px;
    margin-top: 20px;
  }
}
