.header {
    display: flex;
    flex-direction: column;
    justify-content: right;
    /* align-items: center; */
    height: 100vh;
    text-align: center;
    margin-right: -75rem;
  }
  
  .title {
    font-size: 2rem;
    margin: 0;
  }
  
  .title-info {
    font-size: 1.2rem;
  }
  