@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@media (max-width: 768px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    height: 100vh;
    transition: all 0.3s ease;
    border-right: 2px solid #d6d6d6;
  }

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    gap: 20px;
  }

  .app-name {
    font-family: Pacifico, sans-serif;
    display: flex;
    justify-content: center;
    font-size: 28px;
    color: #333;
  }

  .open-menu {
    background-color: #f5f5f5;
    width: 100%;
    position: fixed;
    transition: all 0.3s ease;
  }

  .hamburger-icon {
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: black;
    font-size: 24px;
    margin: 10px;
    justify-content: center;
  }

  .open-links {
    display: block;
  }

  .menu-links {
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-left: 20px;
  }

  .links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-transform: uppercase;
  }

  .close {
    margin-left: auto;
  }
}

@media (min-width: 769px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    height: 100vh;
    transition: all 0.3s ease;
  }

  .app-name {
    font-family: Pacifico, sans-serif;
    display: flex;
    justify-content: center;
    font-size: 28px;
    margin-top: 50px;
    color: #333;
  }

  .open-menu {
    width: 220px;
    background-color: #f5f5f5;
    border-right: 2px solid #d6d6d6;
    transition: all 0.3s ease;
    border-bottom: 2px solid #d6d6d6;
  }

  .hamburger-icon {
    display: none;
  }

  .open-links {
    display: block;
  }

  .menu-links {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding-left: 10px;
  }

  .links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-transform: uppercase;
    margin-bottom: 50px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    bottom: 0;
    margin: 40px;
  }
}

.social-media {
  display: flex;
  gap: 10px;
  margin: auto;
  color: #333;
}

.copyright {
  display: flex;
  align-items: center;
  margin: auto;
  gap: 5px;
  color: #333;
  font-size: 12px;
}

.nav-menu a {
  text-decoration: none;
  color: #333;
  padding: 10px;
  transition: background-color 0.3s;
  width: 100%;
  font-weight: bold;
}

.nav-menu a:hover {
  background-color: #8fcd09;
  color: #fff;
}

.active {
  background-color: #8fcd09 !important;
  color: white !important;
}

.container {
  max-width: 800px;
  margin: 60px 30px;
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 100%;
  margin-top: 5rem;
}

.sub_heading {
  color: #333;
  text-align: center;
}

.table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.th,
.td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

.th {
  background-color: #8fcd09;
  color: #fff;
}

.button {
  background-color: #555454;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #6f9f00;
}

.loading {
  color: #333;
  font-size: 16px;
}
